PORT=3012

BASE_URL=

MONGODB_URI=
SECRET_KEY=b8047e862a159bfe5a5e4f6688a01d6ac7d98b5803df3503a1fa31b94eea72e7

# Cookie options

HTTP_ONLY=true
NODE_ENV=development
SAME_SITE=strict
MAX_AGE=86400000

STRIPE_SECRET_KEY=

AUTH_EMAIL=
APP_PASSWORD=

SALT_ROUNDS=10
OTP_EXPIRATION_MINUTES=10
TOKEN_EXPIRATION_TIME=30d
OTP_EXPIRATION_SECONDS=60

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=